.info,.pagination-wrap{text-align: center;}
h2{padding: 10px;}
.homepage{margin-top: 50px; text-align: center;}
th,td{border: 1px solid gray;padding:5px;}
.message
{
	font-size: 18px;
	
}
table
{
	border:0px solid;
}
th, td {
    border: 0px solid gray;
    padding: 5px;
    }